# Librairies principales
fastapi
uvicorn
python-multipart        # pour gérer l'upload de fichiers
sqlalchemy
tensorflow             # si tu utilises ton modèle ML
opencv-python
pandas
matplotlib

# Librairies pour les tests
pytest
  